// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import './layouts.scss';
@import '~bootstrap/scss/bootstrap';


body, .table-dark {
    background-color: $dark-grey;
}

.card .login-card {
    background-color: #2e3135;
    color: #fff;
}