// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.cdnfonts.com/css/sandora');

// Variables
@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './login.scss';
@import './schedule.scss';
@import './bandlist.scss';
@import './layouts.scss';
@import './ttumc_table.scss';
@import './user_mgm.scss';
@import './home.scss';

body, .table-dark {
    background-color: $main-color;
}

.card .login-card {
    background-color: #2e3135;
    color: #fff;
}

.toast-top-center {
    margin-top: 100px;
}

.toast {
    @media only screen and (max-width: 768px) {
        font-size: 25px;
        width: 360px;
    }
}
a {
    text-decoration: none !important;
}