.container {
    .band-index,
    .band-index-title,
    .band-action,
    .band-action-title {
        text-align: center;
        vertical-align: middle;
    }

    .band-name,
    .band-name-title,
    .band-lead,
    .band-lead-title {
        text-align: left;
        vertical-align: middle;
    }
}