@import 'variables';
.navbar {
    width: 96%;
    top: 10px;
    margin: 0 auto;
    background-color: #2e3135;
    border-radius: 10px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    right: 0px;

    .navbar-brand {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.5rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .nav-item {
        font-size: 18px;
    }
    
    .dropdown-menu {
        background-color: $dark-grey;
        .dropdown-item {
            color: #fff;
        }
        .dropdown-item:hover, .dropdown-item:focus {
            color: #fff;
            text-decoration: none;
            background-color: #2f3544;
        }

    }

    #navbarSupportedContent {
        text-align: center;
    }
}